body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 20px;
    background-color: #73d7b1;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(145, 157, 230);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    border-radius: 10px;
}

h1,
h2 {
    color: #690d0d;
}

.productos,
.carrito,
.agregarProducto {
    margin-bottom: 2px;
}

#lista-productos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding: 0;
}

#lista-productos li {
    background-color: #ffffff;
    border: 2px solid #24ed05;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
    width: 200px;
    padding: 15px;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#listaCarrito {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    list-style: none;
    padding: 0;
}

#listaCarrito li {
    background-color: #45a049;
    border: 2px solid #ddd;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 3);
    width: 200px;
    padding: 10px;
    text-align: center;
}

#listaCarrito li h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.carrito p {
    font-size: 16px;
    background-color: #ddd;
    color: blue;
    margin-bottom: 15px;
    border: 2px solid #4caf50;
    width: 150px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
